@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit&display=swap');

body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgb(74, 83, 65)
}

h1, h2{
    font-family: 'Josefin Sans', sans-serif;
};

#titulo_main{
    text-align: center;
    font-size: 100px;
}


.ingresa_datos{
    border: 2px rgb(0, 0, 0) solid;
    background-color: rgb(135, 241, 132);
    color: black;
}

.btn-success{
    min-height: 50px;
    border-radius: 10px;
    border: 3px rgb(0, 0, 0) solid;
}

.conte_manome{
    padding: 10px;
    margin: 10px;
    border: 2px solid #a0ecb9;
    border-radius: 10px;
}